<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhu.blog.mapper.ArticleTagMapper">


    <delete id="deleteArticleAndTag">
        delete
        from sg_article_tag
        where
        (
        article_id = #{articleId} and tag_id in
        <foreach collection="tags" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
        )
    </delete>


    <update id="updateArticleTags">
        UPDATE sg_article_tag
        SET tag_id =
        <foreach item="tagId" collection="tagIds" separator=",">
            #{tagId}
        </foreach>
        WHERE article_id = #{articleId}
        AND tag_id IN
        <foreach item="tagId" collection="tagIds" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </update>



</mapper>